{% extends 'base_layout.html' %}

{% block content %}

<div class="detalle_proy">
    <br class="proyects">
        <label>Nombre: <a >{{proyects.shortname}}</a> </label></br>
        <label>Nombre Completo: <a>{{proyects.name}}</a> </label></br>
        <label>Asignado: <a>{{proyects.owner}}</a> </label></br>
        <label>Fecha Inicio: <a>{{proyects.start_date}}</a> </label></br>
        <label>Fecha Fin: <a>{{proyects.end_date}}</a> </label></br>
        <label>Activo?<input type="checkbox"{% if proyects.is_active %} checked="checked"{% endif %}></label></br>
        <label>Fecha Creacion: <a>{{proyects.created_on}}</a> </label></br>
</div>

<a href="{% url 'proyects:crear_task' proy=proyects.shortname %}" class="button">Crear Tarea</a>

{% endblock %}